.background-icon6,
.triangle-1-icon6,
.triangle-2-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.triangle-1-icon6,
.triangle-2-icon6 {
  width: 300px;
  height: 300px;
}
.triangle-2-icon6 {
  top: 930px;
  left: 1770px;
  width: 150px;
  height: 150px;
}
.button-41,
.button-51 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 1847px;
  width: 60px;
  height: 60px;
  background-image: url(./public/button5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button-41 {
  top: 15px;
  left: 1777px;
  width: 50px;
  height: 50px;
  background-image: url(./public/button4@2x.png);
}
.div14 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
