.background-icon3,
.triangle-1-icon3,
.triangle-2-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.triangle-1-icon3,
.triangle-2-icon3 {
  width: 300px;
  height: 300px;
}
.triangle-2-icon3 {
  top: 930px;
  left: 1770px;
  width: 150px;
  height: 150px;
}
.button-5,
.button-61 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 1807px;
  width: 100px;
  height: 100px;
  background-image: url(./public/button5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button-61 {
  left: 1687px;
  background-image: url(./public/button6@2x.png);
}
.child,
.inner,
.item,
.run-space,
.space-1 {
  position: absolute;
  top: 120px;
  left: 200px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 390px;
  height: 900px;
}
.child,
.inner,
.item,
.space-1 {
  left: 600px;
  width: 1200px;
}
.child,
.inner,
.item {
  top: 176px;
  left: 632px;
  width: 350px;
  height: 787.5px;
}
.inner,
.item {
  left: 1025px;
}
.inner {
  left: 1417px;
}
.drivers-1,
.drivers-2 {
  position: absolute;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 350px;
}
.drivers-2 {
  top: 0;
  border-radius: var(--br-3xs);
  height: 50px;
}
.drivers-1 {
  top: 25px;
  height: 25px;
}
.buses-stroke,
.drivers-stroke,
.schedules-stroke {
  position: absolute;
  top: 176px;
  left: 632px;
  width: 350px;
  height: 50px;
}
.buses-stroke,
.schedules-stroke {
  left: 1025px;
}
.schedules-stroke {
  left: 1417px;
}
.div14,
.div15,
.div16,
.div17 {
  position: absolute;
  top: 177px;
  left: 724px;
}
.div15,
.div16,
.div17 {
  left: 1118px;
}
.div16,
.div17 {
  left: 1489px;
}
.div17 {
  top: 28px;
  left: 953px;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue);
}
.div13 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
