.background-icon2 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
}
.button-5,
.button-61,
.triangle-2-icon2 {
  position: absolute;
  margin: 0 !important;
  width: 100px;
  height: 100px;
}
.triangle-2-icon2 {
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: 2;
}
.button-5,
.button-61 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  right: 13px;
  background-image: url(./public/button5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.button-61 {
  right: 133px;
  background-image: url(./public/button6@2x.png);
  z-index: 4;
}
.child1,
.inner,
.rectangle-div,
.run-space,
.space-1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 420px);
  left: calc(50% - 760px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 390px;
  height: 900px;
  z-index: 5;
}
.child1,
.inner,
.rectangle-div,
.space-1 {
  left: calc(50% - 360px);
  width: 1200px;
  z-index: 6;
}
.child1,
.inner,
.rectangle-div {
  top: calc(50% - 364px);
  left: calc(50% - 328px);
  width: 350px;
  height: 787.5px;
  z-index: 7;
}
.child1,
.rectangle-div {
  left: calc(50% + 65px);
  z-index: 8;
}
.child1 {
  left: calc(50% + 457px);
  z-index: 9;
}
.drivers-1,
.drivers-2 {
  position: absolute;
  left: calc(50% - 175px);
  background-color: var(--color-darkslateblue);
  width: 350px;
}
.drivers-2 {
  top: calc(50% - 25px);
  border-radius: var(--br-3xs);
  height: 50px;
}
.drivers-1 {
  top: calc(50% - 0px);
  height: 25px;
}
.buses-stroke,
.drivers-stroke,
.schedules-stroke {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 364px);
  left: calc(50% - 328px);
  width: 350px;
  height: 50px;
  z-index: 10;
}
.buses-stroke,
.schedules-stroke {
  left: calc(50% + 65px);
  z-index: 11;
}
.schedules-stroke {
  left: calc(50% + 457px);
  z-index: 12;
}
.div11,
.div12 {
  top: calc(50% - 363px);
}
.div11 {
  position: absolute;
  margin: 0 !important;
  left: calc(50% - 236px);
  z-index: 13;
}
.div12 {
  left: calc(50% + 158px);
  z-index: 14;
}
.div12,
.div13,
.div14 {
  position: absolute;
  margin: 0 !important;
}
.div13 {
  top: calc(50% - 363px);
  left: calc(50% + 529px);
  z-index: 15;
}
.div14 {
  top: 28px;
  left: calc(50% - 67px);
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue);
  z-index: 16;
}
.div10 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
