.background-icon1 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon1,
.triangle-2-icon1 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.triangle-1-icon1 {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.triangle-2-icon1 {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16px;
  right: 19px;
  width: 90px;
  height: 90px;
  background-image: url(./public/button4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.button-4,
.button-6,
.route-space {
  position: absolute;
  margin: 0 !important;
}
.button-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  right: 133px;
  width: 100px;
  height: 100px;
  background-image: url(./public/button6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
}
.route-space {
  top: calc(50% - 420px);
  left: calc(50% - 797px);
  height: 350px;
  z-index: 5;
}
.route-space,
.route-space1,
.route-space2,
.route-space3 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 390px;
}
.route-space1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 60px);
  left: calc(50% - 797px);
  height: 540px;
  z-index: 6;
}
.route-space2,
.route-space3 {
  left: calc(50% - 395px);
}
.route-space2 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 420px);
  height: 350px;
  z-index: 7;
}
.route-space3 {
  top: calc(50% - 59px);
  height: 539px;
  z-index: 8;
}
.div6,
.route-space3,
.route-space4 {
  position: absolute;
  margin: 0 !important;
}
.route-space4 {
  top: calc(50% - 420px);
  left: calc(50% + 11px);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 800px;
  height: 900px;
  z-index: 9;
}
.div6 {
  top: 28px;
  left: calc(50% - 108px);
  font-size: var(--font-size-29xl);
  z-index: 10;
}
.drivers-3,
.drivers-4 {
  position: absolute;
  left: calc(50% - 195px);
  background-color: var(--color-darkslateblue);
  width: 390px;
}
.drivers-4 {
  top: calc(50% - 25px);
  border-radius: var(--br-3xs);
  height: 50px;
}
.drivers-3 {
  top: calc(50% - 0px);
  height: 25px;
}
.div7,
.drivers-stroke-2 {
  position: absolute;
  margin: 0 !important;
}
.drivers-stroke-2 {
  top: calc(50% - 60px);
  left: calc(50% - 797px);
  width: 390px;
  height: 50px;
  z-index: 11;
}
.div7 {
  top: calc(50% - 59px);
  left: calc(50% - 685px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  z-index: 12;
}
.routes-stroke-2 {
  top: calc(50% - 58px);
  left: calc(50% - 395px);
  width: 390px;
  height: 50px;
  z-index: 13;
}
.div8,
.routes-stroke-2,
.schedules-stroke-2 {
  position: absolute;
  margin: 0 !important;
}
.div8 {
  top: calc(50% - 59px);
  left: calc(50% - 290px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  z-index: 14;
}
.schedules-stroke-2 {
  top: calc(50% - 420px);
  left: calc(50% - 395px);
  width: 390px;
  height: 50px;
  z-index: 15;
}
.div9 {
  top: calc(50% - 420px);
  left: calc(50% - 302px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  z-index: 16;
}
.buses-stroke-2,
.div10,
.div9 {
  position: absolute;
  margin: 0 !important;
}
.buses-stroke-2 {
  top: calc(50% - 420px);
  left: calc(50% - 797px);
  width: 390px;
  height: 50px;
  z-index: 17;
}
.div10 {
  top: calc(50% - 419px);
  left: calc(50% - 684px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  z-index: 18;
}
.div11,
.div12,
.div13,
.div14,
.id {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 158px);
  left: calc(50% - 791px);
  z-index: 19;
}
.div12,
.div13,
.div14,
.id {
  top: calc(50% + 392px);
  z-index: 20;
}
.div13,
.div14,
.id {
  top: calc(50% + 307px);
  z-index: 21;
}
.div14,
.id {
  top: calc(50% + 220px);
  z-index: 22;
}
.id {
  top: calc(50% - 158px);
  left: calc(50% - 387px);
  z-index: 23;
}
.bus-number,
.email,
.full-name,
.id-bus-stop-id,
.password {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 131px);
  left: calc(50% - 791px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 320px;
  height: 55px;
  z-index: 24;
}
.email,
.full-name,
.id-bus-stop-id,
.password {
  left: calc(50% - 387px);
  z-index: 25;
}
.email,
.full-name,
.password {
  top: calc(50% + 419px);
  left: calc(50% - 791px);
  z-index: 26;
}
.email,
.full-name {
  top: calc(50% + 334px);
  z-index: 27;
}
.full-name {
  top: calc(50% + 247px);
  z-index: 28;
}
.coord-latitude,
.coord-longitube,
.div15,
.div16,
.div17,
.message {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 392px);
  left: calc(50% - 387px);
  z-index: 29;
}
.coord-latitude,
.coord-longitube,
.div16,
.div17,
.message {
  top: calc(50% + 307px);
  z-index: 30;
}
.coord-latitude,
.coord-longitube,
.div17,
.message {
  top: calc(50% + 220px);
  z-index: 31;
}
.coord-latitude,
.coord-longitube,
.message {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% + 419px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 320px;
  height: 55px;
  z-index: 32;
}
.coord-latitude,
.coord-longitube {
  top: calc(50% + 334px);
  z-index: 33;
}
.coord-latitude {
  top: calc(50% + 247px);
  z-index: 34;
}
.plus-1,
.plus-2,
.plus-3,
.plus-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 118px);
  left: calc(50% - 457px);
  width: 30px;
  height: 30px;
  background-image: url(./public/plus1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 35;
}
.plus-2,
.plus-3,
.plus-4 {
  left: calc(50% - 53px);
  z-index: 36;
}
.plus-3,
.plus-4 {
  top: calc(50% + 432px);
  left: calc(50% - 457px);
  z-index: 37;
}
.plus-4 {
  left: calc(50% - 53px);
  z-index: 38;
}
.div5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-manrope);
}
