.div2,
.parent {
  position: relative;
}
.parent {
  background-color: var(--color-darkslateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 87px;
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 128px;
  color: var(--color-white);
  font-family: var(--font-manrope);
}
