body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #082567;
  --color-black: #000;
  --color-mediumslateblue: #0066ff;

  /* Border radiuses */
  --br-xl: 20px;
  --br-9xs: 4px;
}
