.background-icon6,
.triangle-1-icon6,
.triangle-2-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 854px;
  height: 480px;
  object-fit: cover;
}
.triangle-1-icon6,
.triangle-2-icon6 {
  width: 210px;
  height: 210px;
}
.triangle-2-icon6 {
  top: 380px;
  left: 754px;
  width: 100px;
  height: 100px;
}
.div12 {
  position: absolute;
  top: 133px;
  left: 352px;
  font-size: var(--font-size-5xl);
}
.div13,
.div14 {
  position: absolute;
  top: 179px;
  left: 307px;
}
.div14 {
  top: 251px;
}
.rectangle-login,
.rectangle-password {
  border: 1.5px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 199px;
  left: 307px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 240px;
  height: 33px;
}
.rectangle-password {
  top: 271px;
}
.buslink,
.button,
.button1 {
  position: absolute;
  font-size: var(--font-size-3xs);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 304px;
  left: 307px;
  font-family: var(--font-manrope);
  color: var(--color-mediumslateblue);
  text-align: left;
  display: inline-block;
}
.buslink,
.button1 {
  top: 331px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 439px;
  font-family: var(--font-manrope);
  color: var(--color-mediumslateblue);
  text-align: left;
  display: inline-block;
}
.buslink {
  left: 315px;
}
.rectangle-enter {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
  width: 120px;
  height: 50px;
}
.div15,
.enter,
.rectangle-enter {
  position: absolute;
}
.div15 {
  top: 11px;
  left: 31px;
  font-size: var(--font-size-xl);
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
}
.enter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 358px;
  left: 367px;
  width: 120px;
  height: 50px;
}
.logo-1-icon {
  position: absolute;
  top: 73px;
  left: 397px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.p6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 480px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
