.background-icon7 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon7 {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
}
.div30,
.triangle-1-icon7,
.triangle-2-icon7 {
  position: absolute;
  margin: 0 !important;
}
.triangle-2-icon7 {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 2;
}
.div30 {
  top: calc(50% - 169px);
  left: calc(50% - 139px);
  font-size: var(--font-size-5xl);
  z-index: 3;
}
.div31,
.div32,
.rectangle-new-password-mob {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 45px);
  left: calc(50% - 120px);
  z-index: 4;
}
.div32,
.rectangle-new-password-mob {
  top: calc(50% + 27px);
  z-index: 5;
}
.rectangle-new-password-mob {
  border: 1.5px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% - 25px);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 240px;
  height: 33px;
  z-index: 6;
}
.div33,
.rectangle-again-password-mob,
.rectangle-mail-1-mob {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 117px);
  left: calc(50% - 120px);
  z-index: 7;
}
.rectangle-again-password-mob,
.rectangle-mail-1-mob {
  border: 1.5px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% - 97px);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 240px;
  height: 33px;
  z-index: 8;
}
.rectangle-again-password-mob {
  top: calc(50% + 47px);
  z-index: 9;
}
.confirm-mob3 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 90px);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
  width: 180px;
  height: 50px;
}
.div34 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 63px);
  font-size: var(--font-size-xl);
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
}
.confirm-mob2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 120px);
  left: calc(50% - 90px);
  width: 180px;
  height: 50px;
  z-index: 10;
}
.div29 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
