<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device=width, initial=scale=1" />
    {% block head %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
    <title>Title</title>
    <link rel="stylesheet" href="../static/global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
</head>
<body>
  <!-- <nav>
    <button  
      type="button" 
      data-toggle="collapse" 
      data-target="#navbar"
    >
      <span></span>
    </button>
      <div id="navbar">
        <div>
        <a id="director_map" href="/director_map">director map</a>
        <a id="director_routes" href="/director_routes">director routes</a>
        <a id="director_editor" href="/director_editor">director editor</a>
        </div>
      </div>
    </nav> -->

    <div>
    {% block content%}
    {% endblock %}
    </div>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>