<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Map</title>

    <meta name="description" content="Director's map" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/director_map.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div36">
      <img class="background-icon6" alt="" src="{{ url_for('static',  filename='background@2x.png') }}" />

      <img class="triangle-1-icon6" alt="" src="{{ url_for('static',  filename='triangle-1@2x.png') }}" />

      <img class="triangle-2-icon6" alt="" src="{{ url_for('static',  filename='triangle-2@2x.png') }}" />

      <button class="button-51" id="button5"></button>
      <button class="button-41" id="button4"></button>
      <div class="map-2"></div>
      <div class="div37">Карта</div>
    </div>

    <script>
      var button5 = document.getElementById("button5");
      if (button5) {
        button5.addEventListener("click", function (e) {
          window.location.href = "./director_editor.html";
        });
      }
      
      var button4 = document.getElementById("button4");
      if (button4) {
        button4.addEventListener("click", function (e) {
          window.location.href = "./director_routes.html";
        });
      }
      </script>
  </body>
</html>
