<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Routes</title>

    <meta name="description" content="Director's routes" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/director_routes.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div26">
      <img class="background-icon3" alt="" src="{{ url_for('static',  filename='background@2x.png') }}" />

      <img class="triangle-1-icon3" alt="" src="{{ url_for('static',  filename='triangle-1@2x.png') }}" />

      <img class="triangle-2-icon3" alt="" src="{{ url_for('static',  filename='triangle-2@2x.png') }}" />

      <button class="button-5" id="button5"></button>
      <button class="button-61" id="button6"></button>
      <div class="run-space"></div>
      <div class="space-1"></div>
      <div class="inner"></div>
      <div class="rectangle-div"></div>
      <div class="child1"></div>
      <div class="drivers-stroke-1">
        <div class="drivers-2"></div>
        <div class="drivers-1"></div>
      </div>
      <div class="buses-stroke-1">
        <div class="drivers-2"></div>
        <div class="drivers-1"></div>
      </div>
      <div class="schedules-stroke-1">
        <div class="drivers-2"></div>
        <div class="drivers-1"></div>
      </div>
      <div class="div27">Водители</div>
      <div class="child2"></div>
      <div class="routes-stroke-1">
        <div class="drivers-2"></div>
        <div class="drivers-1"></div>
      </div>
      <div class="div28">Маршруты</div>
      <div class="div29">Автобусы</div>
      <div class="div30">Расписания</div>
      <div class="div31">Рейсы</div>
      <div class="map-3"></div>
    </div>

    <!-- <script>
      var button5 = document.getElementById("button5");
      if (button5) {
        button5.addEventListener("click", function (e) {
          window.location.href = "./director_editor.html";
        });
      }
      
      var button6 = document.getElementById("button6");
      if (button6) {
        button6.addEventListener("click", function (e) {
          window.location.href = "./director_map.html";
        });
      }
      </script> -->
  </body>
</html>
