{% extends "base.html" %}

  {% block head %}
  <title>Traffic controller</title>
  <link rel="stylesheet" href="../static/director_map.css" />
  {{ header|safe }}
  {% endblock %}

  <!-- <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Traffic controller</title>

  <meta name="description" content="Director's map" />
  <link rel="stylesheet" href="../static/global.css" />
  <link rel="stylesheet" href="../static/director_map.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
  /> -->

  {% block content%}
  <div class="div29">
    <img class="background-icon5" alt="" src="{{ url_for('static',  filename='background@2x.png') }}" />

    <img class="triangle-1-icon5" alt="" src="{{ url_for('static',  filename='triangle-1@2x.png') }}" />

    <img class="triangle-2-icon5" alt="" src="{{ url_for('static',  filename='triangle-2@2x.png') }}" />

    <button class="button-51" id="button5" action=""></button>
    <button class="button-41" id="button4"></button>
    <div class="map-2">

      <br />
      <div class="main_block">
      <div class="inline_block">
          {{ body_html|safe }}
          <script>
              {{ script|safe }}
          </script>
      </div>
      </div>
      <button>Связь с экстренными службами</button>
      
      <form action = "/update_marker" method ="POST">
        <button type="submit" name="button">Узнать где сейчас автобус</button>
      </form>

    </div>
    <div class="div30">Карта</div>
  </div>

  <script>
    var button5 = document.getElementById("button5");
    if (button5) {
      button5.addEventListener("click", function (e) {
        window.location.href = "{{ url_for('views.director_editor') }}";
      });
    }
    
    var button4 = document.getElementById("button4");
    if (button4) {
      button4.addEventListener("click", function (e) {
        window.location.href = "{{ url_for('views.director_routes') }}";
      });
    }
    </script>
  {% endblock %}