<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Main menu</title>

    <meta name="description" content="Driver's main menu" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./driver_main_menu.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div44">
      <img
        class="background-mob-icon3"
        alt=""
        src="./public/background-mob@2x.png"
      />

      <img class="triangle-3-icon3" alt="" src="./public/triangle-3@2x.png" />

      <img class="triangle-4-icon3" alt="" src="./public/triangle-4@2x.png" />

      <button class="button-82" id="button8"></button>
      <div class="child4"></div>
      <div class="child5"></div>
      <div class="child6"></div>
      <div class="child7"></div>
      <div class="div45">Главное меню</div>
    </div>

    <script>
      var button8 = document.getElementById("button8");
      if (button8) {
        button8.addEventListener("click", function (e) {
          window.location.href = "./driver_dispatcher_choice.html";
        });
      }
      </script>
  </body>
</html>
