{% extends "base.html" %}

{% block content%}
<br />
<div class="main_block">
<form action="/addstop" method="POST">
    <label>Bus Stop Name</label>
    <input type="text" name="bus_stop_name">
    <label>Longitude</label>
    <input type="text" name= "longitude">
    <label>Latitude</label>
    <input type="text" name="latitude" placeholder="">
    <button type="submit">Add</button>
</form>
<form action="/addbus" method="POST">
    <label>Bus Number</label>
    <input type="number" name="bus_number">
    <button type="submit">Add</button>
</form>
<form action="/adddriver" method="POST">
    <label>Driver Full Name</label>
    <input type="text" name="driver_name">
    <label>Driver Email</label>
    <input type="text" name="driver_email">
    <label>Driver Password</label>
    <input type="text" name="driver_pass">
    <button type="submit">Add</button>
</form>
<table>
    <caption><b>Drivers</b></caption>
    <thead>
        {% for driver in drivers %}
        <tr>
            <td>{{  driver['full_name'] }}</td> <td>{{ driver['email'] }}</td> <td>{{ driver['password'] }}</td>
        </tr>
        {% endfor %}
    </thead>
    <tbody>

    </tbody>
</table>
</div>
{% endblock %}
