<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Authorization</title>

    <meta name="description" content="Authorization page" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/authorization.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <img src="../../public/logo-2@2x.png">

    <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          window.location.href = "./password_recovery_1.html";
        });
      }
      
      var button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
          window.location.href = "./registration.html";
        });
      }
      </script>
  </body>
</html>
