{% extends "base.html" %}

{% block head %}
    <title>Traffic controller</title>
    {{ header|safe }}
{% endblock %}

{% block content %}
    <br />
    <a id="supervisor" href="/traffic-controller/chat">chat with drivers</a>
    <h1>Embed folium map in HTML page</h1>
    {{ body_html|safe }}
    <h3>This map is embeded in a flask server web page !</h3>
    <script>
        {{ script|safe }}

        
    </script>
    <button id="emergency">Связь с экстренными службами</button>
    <button id="updateBusLocation">Узнать где сейчас автобус</button>

    <script>
        $(document).ready(function(){
            $('#updateBusLocation').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/update_marker',  // измененный путь
                    success: function(response) {
                        location.reload();
                    }
                });
            });
        });
    </script>


{% endblock %}
