.background-icon6 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon6,
.triangle-2-icon6 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.triangle-1-icon6 {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.triangle-2-icon6 {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.button-41,
.button-51 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button-51 {
  position: absolute;
  margin: 0 !important;
  top: 11px;
  right: 13px;
  width: 100px;
  height: 100px;
  background-image: url(./button5@2x.png);
  z-index: 3;
}
.button-41 {
  top: 15px;
  right: 143px;
  width: 90px;
  height: 90px;
  background-image: url(./button4@2x.png);
  z-index: 4;
}
.button-41,
.div37,
.map-2 {
  position: absolute;
  margin: 0 !important;
}
.map-2 {
  top: calc(50% - 410px);
  left: calc(50% - 800px);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 1600px;
  height: 900px;
  z-index: 5;
}
.div37 {
  top: 28px;
  left: calc(50% - 67px);
  z-index: 6;
}
.div36 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-manrope);
}
