.background-icon1 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon1,
.triangle-2-icon1 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.triangle-1-icon1 {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.triangle-2-icon1 {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16px;
  right: 19px;
  width: 90px;
  height: 90px;
  background-image: url(./button4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.button-4,
.button-6,
.route-space {
  position: absolute;
  margin: 0 !important;
}
.button-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  right: 133px;
  width: 100px;
  height: 100px;
  background-image: url(./button6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
}
.route-space {
  top: calc(50% - 320px);
  left: calc(50% - 643px);
  height: 280px;
  z-index: 5;
}
.route-space,
.route-space1,
.route-space2,
.route-space3 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 312px;
}
.route-space1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 32px);
  left: calc(50% - 643px);
  height: 432px;
  z-index: 6;
}
.route-space2,
.route-space3 {
  left: calc(50% - 322px);
}
.route-space2 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 320px);
  height: 280px;
  z-index: 7;
}
.route-space3 {
  top: calc(50% - 32px);
  height: 432px;
  z-index: 8;
}
.div6,
.route-space3,
.route-space4 {
  position: absolute;
  margin: 0 !important;
}
.route-space4 {
  top: calc(50% - 320px);
  left: calc(50% + 3px);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 640px;
  height: 720px;
  z-index: 9;
}
.div6 {
  top: 28px;
  left: calc(50% - 108px);
  font-size: var(--font-size-29xl);
  z-index: 10;
}
.drivers-3,
.drivers-4 {
  position: absolute;
  left: calc(50% - 155.95px);
  background-color: var(--color-darkslateblue);
  width: 311.9px;
}
.drivers-4 {
  top: calc(50% - 20px);
  border-radius: var(--br-3xs);
  height: 40px;
}
.drivers-3 {
  top: calc(50% - 0px);
  height: 20px;
}
.drivers-stroke-2 {
  top: calc(50% - 32px);
  left: calc(50% - 643px);
  width: 311.9px;
  height: 40px;
  z-index: 11;
}
.div7,
.div8,
.drivers-stroke-2,
.routes-stroke-2 {
  position: absolute;
  margin: 0 !important;
}
.div7 {
  top: calc(50% - 25px);
  left: calc(50% - 542px);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  width: 111px;
  height: 26px;
  flex-shrink: 0;
  z-index: 12;
}
.div8,
.routes-stroke-2 {
  top: calc(50% - 30.4px);
  left: calc(50% - 321.5px);
  width: 311.9px;
  height: 40px;
  z-index: 13;
}
.div8 {
  top: calc(50% - 25px);
  left: calc(50% - 228px);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  width: 124px;
  height: 26px;
  flex-shrink: 0;
  z-index: 14;
}
.schedules-stroke-2 {
  top: calc(50% - 320px);
  left: calc(50% - 321.5px);
  width: 311.9px;
  height: 40px;
  z-index: 15;
}
.buses-stroke-2,
.div9,
.schedules-stroke-2 {
  position: absolute;
  margin: 0 !important;
}
.div9 {
  top: calc(50% - 317px);
  left: calc(50% - 227px);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  width: 122px;
  height: 27px;
  flex-shrink: 0;
  z-index: 16;
}
.buses-stroke-2 {
  top: calc(50% - 320px);
  left: calc(50% - 643px);
  width: 311.9px;
  height: 40px;
  z-index: 17;
}
.div10 {
  top: calc(50% - 317px);
  left: calc(50% - 542px);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  width: 111px;
  height: 27px;
  flex-shrink: 0;
  z-index: 18;
}
.div10,
.div11,
.div12 {
  position: absolute;
  margin: 0 !important;
}
.div11 {
  top: calc(50% - 280px);
  left: calc(50% - 638px);
  display: inline-block;
  width: 125px;
  height: 21px;
  flex-shrink: 0;
  z-index: 19;
}
.div12 {
  top: calc(50% + 147px);
  width: 58px;
  z-index: 20;
}
.div12,
.div13,
.div14 {
  left: calc(50% - 638px);
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.div13 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 80px);
  width: 48px;
  z-index: 21;
}
.div14 {
  top: calc(50% + 10px);
  width: 37px;
  z-index: 22;
}
.bus-number,
.div14,
.id {
  position: absolute;
  margin: 0 !important;
}
.id {
  top: calc(50% - 280px);
  left: calc(50% - 316px);
  display: inline-block;
  width: 96px;
  height: 21px;
  flex-shrink: 0;
  z-index: 23;
}
.bus-number {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% - 259px);
  left: calc(50% - 638px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 24;
}
.id-bus-stop-id,
.id1 {
  left: calc(50% - 316px);
}
.id-bus-stop-id {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 259px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 25;
}
.id1 {
  top: calc(50% - 213px);
  display: inline-block;
  width: 96px;
  height: 21px;
  flex-shrink: 0;
  z-index: 26;
}
.id-bus-stop-id1,
.id1,
.id2,
.password {
  position: absolute;
  margin: 0 !important;
}
.id-bus-stop-id1 {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% - 192px);
  left: calc(50% - 316px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 27;
}
.id2,
.password {
  left: calc(50% - 638px);
}
.password {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% + 168px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 28;
}
.id2 {
  top: calc(50% + 214px);
  display: inline-block;
  width: 92px;
  height: 21px;
  flex-shrink: 0;
  z-index: 29;
}
.email,
.id-driver {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  left: calc(50% - 638px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
}
.id-driver {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 235px);
  z-index: 30;
}
.email {
  top: calc(50% + 101px);
  z-index: 31;
}
.div15,
.email,
.full-name {
  position: absolute;
  margin: 0 !important;
}
.full-name {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% + 31px);
  left: calc(50% - 638px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 32;
}
.div15 {
  top: calc(50% + 147px);
  left: calc(50% - 316px);
  width: 156px;
  z-index: 33;
}
.div15,
.div16,
.div17 {
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.div16 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 80px);
  left: calc(50% - 316px);
  width: 162px;
  z-index: 34;
}
.div17 {
  top: calc(50% + 10px);
  width: 158px;
  z-index: 35;
}
.coord-latitude,
.div17,
.id3 {
  position: absolute;
  margin: 0 !important;
  left: calc(50% - 316px);
}
.coord-latitude {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% + 168px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 36;
}
.id3 {
  top: calc(50% + 215px);
  display: inline-block;
  width: 156px;
  height: 21px;
  flex-shrink: 0;
  z-index: 37;
}
.coord-longitube,
.id-stop {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  left: calc(50% - 316px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
}
.id-stop {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 236px);
  z-index: 38;
}
.coord-longitube {
  top: calc(50% + 101px);
  z-index: 39;
}
.bus-id,
.coord-longitube,
.id4,
.stop-name {
  position: absolute;
  margin: 0 !important;
}
.stop-name {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% + 31px);
  left: calc(50% - 316px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 40;
}
.bus-id,
.id4 {
  left: calc(50% - 638px);
}
.id4 {
  top: calc(50% - 213px);
  display: inline-block;
  width: 125px;
  height: 21px;
  flex-shrink: 0;
  z-index: 41;
}
.bus-id {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  top: calc(50% - 192px);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 300px;
  height: 44px;
  font-size: large;
  z-index: 42;
}
.plus-2,
.plus-3,
.plus-4,
.plus-5,
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-1,
.update-2,
.update-3,
.update-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 117px);
  left: calc(50% - 611px);
  width: 50px;
  height: 50px;
  background-image: url(./plus1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 43;
}
.plus-2,
.plus-3,
.plus-4,
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-1,
.update-2,
.update-3,
.update-4 {
  top: calc(50% + 310px);
  z-index: 44;
}
.plus-3,
.plus-4,
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-1,
.update-2,
.update-3,
.update-4 {
  left: calc(50% - 293px);
  z-index: 45;
}
.plus-4,
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-1,
.update-2,
.update-3,
.update-4 {
  top: calc(50% - 117px);
  z-index: 46;
}
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-1,
.update-2,
.update-3,
.update-4 {
  top: calc(50% - 120px);
  left: calc(50% - 505px);
  width: 55px;
  height: 55px;
  background-image: url(./update1@2x.png);
  z-index: 47;
}
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-2,
.update-3,
.update-4 {
  left: calc(50% - 187px);
  z-index: 48;
}
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-3,
.update-4 {
  top: calc(50% + 307px);
  left: calc(50% - 505px);
  z-index: 49;
}
.trash-1,
.trash-2,
.trash-3,
.trash-4,
.update-4 {
  top: calc(50% + 308px);
  left: calc(50% - 187px);
  z-index: 50;
}
.trash-1,
.trash-2,
.trash-3,
.trash-4 {
  top: calc(50% - 120px);
  left: calc(50% - 404px);
  background-image: url(./trash1@2x.png);
  z-index: 51;
}
.trash-2,
.trash-3,
.trash-4 {
  left: calc(50% - 85px);
  z-index: 52;
}
.trash-3,
.trash-4 {
  top: calc(50% + 308px);
  left: calc(50% - 404px);
  z-index: 53;
}
.trash-4 {
  left: calc(50% - 85px);
  z-index: 54;
}
.div5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue);
  font-family: var(--font-manrope);
}
