.background-icon5 {
  position: relative;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.triangle-1-icon5,
.triangle-2-icon5 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.triangle-1-icon5 {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.triangle-2-icon5 {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.button-11,
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button-11 {
  position: absolute;
  margin: 0 !important;
  right: 133px;
  background-image: url(./public/button1@2x.png);
  z-index: 3;
}
.button-2 {
  right: 13px;
  background-image: url(./public/button2@2x.png);
  z-index: 4;
}
.button-2,
.div35,
.map-1 {
  position: absolute;
  margin: 0 !important;
}
.map-1 {
  top: calc(50% - 410px);
  left: calc(50% - 800px);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 1600px;
  height: 900px;
  z-index: 5;
}
.div35 {
  top: 28px;
  left: calc(50% - 67px);
  z-index: 6;
}
.div34 {
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-manrope);
}
.div34,
.div7,
.parent {
  position: relative;
}
.parent {
  background-color: var(--color-darkslateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 87px;
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 128px;
  color: var(--color-white);
  font-family: var(--font-manrope);
}
